# BasaltOS generated configuration
config/generated/

# Build outputs
build/
*/build/
build_*/

# Release output (keep folder, ignore contents)
dist/*
!dist/.gitkeep

# Generated MicroPython embed artifacts
runtime/python/embed_build/

# Temp
/tmp/
.basaltos-local/

# Python
__pycache__/
*.pyc

# ESP-IDF
sdkconfig
sdkconfig.old

# IDE
.vscode/
.idea/
