# ESP32 CYD (ESP32-D0WD-V3) baseline defaults
CONFIG_IDF_TARGET="esp32"

# Console
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Flash size (ESP32 CYD is commonly 4MB)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
# FATFS long filename support
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=255
CONFIG_COMPILER_DISABLE_DEFAULT_ERRORS=y
CONFIG_TWAI_SUPPRESS_DEPRECATE_WARN=y
CONFIG_I2C_SUPPRESS_DEPRECATE_WARN=y
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
